
<div class="columns is-centered">
  <div class="column-6">
    <div class="card">
    <div class="column-3 aside grdx-pnkl-orn">
      <p class="has-text-centered">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
        dolorum nemo quam itaque molestias sunt non eveniet voluptatum, laudantium earum,
        odit ipsa amet! Similique ab commodi assumenda vero neque, error nam illum sapiente 
        officiis, nemo dolore ducimus rem possimus 
        numquam dolores laudantium labore sunt cumque distinctio iusto pariatur sint magnam.
      </p>
    </div>
      <div class="body column-9">
        <div class="card-header">
          <h1>New Store</h1>
        </div>
        <div class="card-content">
          <%= render 'form', store: @store %>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <%= link_to 'Back', stores_path, class:'button' %>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered h-7">
  <div class="column-4 bg-pnk p-0 h-10">
    Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Eius culpa nihil, nam incidunt 
    autem commodi mollitia sint officiis saepe voluptatibus 
    laborum quo ducimus cum repellat, dolor, blanditiis dicta 
    neque eaque labore! Obcaecati repellat nemo nulla nam ipsa fuga 
    cupiditate, debitis rerum, autem ad esse impedit nostrum ut itaque suscipit sed.
  </div>
</div>
