/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}

.flex-col {
  flex-direction: column;
}

.has-text-centered {
  text-align: center;
  align-content: center;
  width: 100%;
}

.is-fullwidth {
  width: inherit;
}

.submit {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 17px;
  font-weight: 900;
  border: 1px solid rgb(9, 231, 194);
  border-radius: 7px;
  color: white;
  margin-bottom: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.main {
  margin-left: 5%;
  margin-right: 5%;
}

.button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 17px;
  font-weight: 900;
  background-color: #000000;
  border: 1px solid rgb(9, 231, 194);
  border-radius: 7px;
  color: white;
  text-decoration: none;
}

/* ################ Styles for columns ################# */

$column: 12;

@for $i from 1 through $column {
  @if $column <= 11 {
    .column-#{$i} {
      width: (99% * ($i / $column));
      height: inherit;
      margin-right: 0.5%;
      margin-left: 0.5%;
    }
  } @else {
    .column-#{$i} {
      width: (100% * ($i / $column));
      height: inherit;
    }
  }
}

.columns {
  width: 100%;
  height: fit-content;
  display: flex;
}

.is-centered {
  align-self: center;
  justify-content: center;
}

/* ############ Styles for forms ############# */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;

  .label {
    font-weight: 900;
  }

  .field {
    margin-bottom: 1.2rem;
  }

  .input {
    width: 100%;
    height: 4vh;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 5px;
    font-size: 25px;
    padding-left: 0.5%;
  }

  .actions {
    width: 100%;

    .submit {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      font-size: 17px;
      font-weight: 900;
      border: 1px solid rgb(9, 231, 194);
      border-radius: 7px;
      color: white;
      margin-bottom: 1.2rem;
    }
  }
}

/* ####### Styles for card ######## */

.card {
  width: 94%;
  display: flex;
  border: 1px solid rgb(226, 222, 222);
  padding-bottom: 3%;
  padding-right: 3%;
  box-shadow: 5px 10px rgb(233, 232, 232);

  .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    font-family: 'Times New Roman', Times, serif;
  }

  .body {
    display: flex;
    flex-direction: column;

    .card-header {
      font-weight: 900;
      text-align: center;
    }

    .card-content {
      width: 100%;
    }

    .card-footer {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

/* ######### Nav bar styles ######### */

.nav-bar {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  height: 70px;
  background-color: rgb(118, 233, 204);
  width: 100%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

  .checkbox,
  .checkbox-lab {
    display: none;
  }

  .nav-start {
    grid-column: 1 / span 1;
    padding: 0;
    margin-top: 23px;

    p {
      padding: 0;
      margin: 0;
    }

    p::after {
      content: '';
      height: 3px;
      width: 45%;
      display: block;
      background-color: ivory;
    }
  }

  .mid-nav {
    grid-column: 2 / span 1;
    margin: 0;
    margin-top: 23px;

    ul {
      display: flex;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'Times New Roman', Times, serif;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  .nav-end {
    grid-column: 3 / span 1;
    margin-top: 23px;
  }
}

table {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #012b39;
  border: 1px solid rgb(133, 102, 102);
  border-radius: 10px;
  border-collapse: collapse;

  tr {
    th {
      width: inherit;
      // background-color: #000a0e;
      color: #e2b842;
      font-weight: 900;
      font-size: 19px;
      padding: 0.75em 1em;
      text-align: center;
    }

    td {
      color: #fff;
      padding: 0.65em 1em;
      text-align: center;
      font-weight: 600;
    }
  }

  tbody tr:nth-child(odd) {
    background: #e4a9a9;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    &:hover {
      background-color: #012b39;
      color: #000000 !important;
    }
  }

  tbody tr:nth-child(even) {
    &:hover {
      background-color: #e4a9a9;
      transition: all 0.1s ease-in-out;
      color: #e4a9a9;
    }
  }
}

@import url('./margins&paddings.scss');
@import url('./texts&backgrounds.scss');
@import url('./heights.scss');
