<div class="modal">
  <input type="checkbox" name="modal-input" id="modal" class="input-modal">
  <div class="modal-card mx-auto column-6 bg-red">
  <label for="modal" class="modal-close"><span>X</span></label>
    <div class="modal-card-header">Lorem ipsum dolor sit amet.</div>
    <div class="modal-card-body bg-pri">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, voluptate earum dolorum ipsa deleniti nam saepe aut magni quam iusto.</div>
    <div class="modal-card-footer"></div>
  </div>
  <div class="modal-control">
    <label for="modal">XXXXXX</label>
  </div>
</div>