<div class="columns is-centered">
  <div class="column-6">
    <div class="card">
      <div class="body w-10">
        <div class="card-header">
          <h1>New Warehouse</h1>
        </div>
        <div class="card-content">
          <%= render 'form', warehouse: @warehouse %>
        </div>
        <div class="card-footer">
          <%= link_to 'Back', warehouses_path %>
        </div>
      </div>
    </div>
  </div>
</div>