<nav class="nav-bar">
  <input type="checkbox" name="checkbox" id="nav-checkbox" class="checkbox">
  <label for="nav-checkbox" class="checkbox-lab">
    <span>x</span>
  </label>
  <div class="nav-start">
    <p>Point Of Sale</p>
  </div>

  <div class="mid-nav">
    <ul>
      <li class='column-3'>1</li>
      <li class='column-3'>2</li>
      <li class='column-3'>3</li>
    </ul>
  </div>

  <div class="nav-end">
    Lorem, ipsum dolor.
  </div>
</nav>